<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer class="footer">
    <p>Contact Us</p>
    <a href="aboood23.ae@gmail.com">Email Us</a> |
    <a href="tel:+973 35011056">Call Us</a> |
    <a href="https://wa.me/35011056" target="_blank">WhatsApp Us</a> |
    <a href ="https://www.google.com/maps/" target="_blank>">Google Map</a> |
    
    <p>&copy; 2024 Your Company. All rights reserved.</p>
</footer>
</body>
</html>