<!DOCTYPE html>
<html>
  <head>
    <title>Planets App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav><a href="/">Home</a><a href="/appartments/">All Appartments</a><a href="/appartments/new">New Appartment</a></nav>