<!DOCTYPE html>
<html>
<head>
  <title>Renet Rover</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<header class="header">
  <% if (user) { %>
    <div class="user-controls">
    <div class="logo"><img src="https://i.imgur.com/M5FCrrp.png" alt="logo"></div>
      <div class="a-nav"><a href="/">Home</a></div>
      <div class="a-nav"><a href="/appartments/">All Appartments</a></div>
      <div class="a-nav"><a href="/appartments/new">New Appartment</a></div>
      <div class="a-nav"><a href="http://localhost:3000/users/">Welcome <%= user.name %></a></div>
      <div class="a-nav"><a href="/logout">LOG OUT</a></div>
    </div>
  <% } else { %>
    <div class="logo"><img src="https://i.imgur.com/vaFny3C.png" alt="logo"></div>
    <nav class="nav-list">
      <div class="a-nav"><a href="/appartments/">All Appartments</a></div>
    </nav>
    <div class="user-controls">
      <div class="a-nav"><a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a></div>
    </div>
  <% } %>
</header>
</body>
</html>
