<!DOCTYPE html>
<html>
  <head>
    <title>Rent Rover</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) { %>
    <nav><a href="/">Home</a> | <a href="/appartments/">All Appartments</a> | <a href="/appartments/new">New Appartment</a> | <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/appartments/">All Appartments</a> | 
        <a href="/auth/google" class="login">LOG IN&nbsp;</a>
      <% } %></nav>