<%- include('./partials/header') %>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="des"></div>
    <div class="boxes">
     <div class="aboutus">
      <h1> About US</h1>
      <p> 
      At Rent Rover, we understand that finding the perfect apartment is about more than just square footage and price. That's why our platform offers a comprehensive range of listings, carefully curated to match your unique preferences and lifestyle. Whether you're looking for a cozy studio in the heart of the city or a spacious family-friendly apartment in the suburbs, we've got you covered.
    </p>
  </div>
 
    <div class="mission">
      <h1> Our mission</h1>
    <p>transform apartment-hunting into an enjoyable adventure. We're revolutionizing the search process by making it smarter and more efficient, eliminating frustration and stress. Our app simplifies your search, ensuring a delightful and streamlined experience to find your perfect apartment.
      
      </p>
    </div>
    
       <div class="committed">
        <h1>Our Commitment</h1>
      <p>At Rent Rover, we're committed to providing you with more than just a platform we're your trusted companion on the quest for your perfect home. We understand the excitement and anticipation that come with finding the right apartment, and we're here to amplify that experience. Our goal is to not only simplify the process but to elevate it, ensuring that every renter's journey is enjoyable, rewarding, and filled with memorable moments.


      </p>
    </div>
  </div>
  </body>

    <%- include('./partials/footer') %>