<%- include('./partials/header') %>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Introduction</h1>
    <p>Are you tired of the endless scroll through rental listings? Frustrated by the lack of options that truly fit your needs? Rent Rover is here to change the game and make your apartment search a breeze.
  </p>
    <h1><b> About US</h1> </b>
 
    <p> 
      At Rent Rover, we understand that finding the perfect apartment is about more than just square footage and price. That's why our platform offers a comprehensive range of listings, carefully curated to match your unique preferences and lifestyle. Whether you're looking for a cozy studio in the heart of the city or a spacious family-friendly apartment in the suburbs, we've got you covered.
 
    </p>
    <h1> Our mission</h1>
    <p>Welcome to Rent Rover, where apartment-hunting transforms into an adventure of discovery and delight! We're on a mission to revolutionize the way you search for your dream apartment. Gone are the days of frustration and stress; with Rent Rover, every step of your journey is filled with excitement and possibility.

      Driven by our shared experiences, we embarked on a mission to simplify the apartment-hunting process. We wanted to create an app that not only streamlines your search but also makes it enjoyable. No more endless scrolling. No more guessing games. Just a smarter, more efficient way to find your perfect apartment.
      
      </p>
      <h1>Our Commitment</h1>
      <p>At Rent Rover, we're committed to providing you with more than just a platform we're your trusted companion on the quest for your perfect home. We understand the excitement and anticipation that come with finding the right apartment, and we're here to amplify that experience. Our goal is to not only simplify the process but to elevate it, ensuring that every renter's journey is enjoyable, rewarding, and filled with memorable moments.


      </p>
  </body>

    <%- include('./partials/footer') %>