<%- include('./partials/header') %>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="des"></div>
    <div class="boxes">
     <div class="aboutus">
      <img src="https://i.imgur.com/S9OpYlq.png" alt="bb">
      <h1> About US</h1>
      <p> 
        We offer a wide range of apartment listings tailored to your preferences, whether you need a city studio or a suburban family apartment. Specializing in rentals, we provide top-quality services and keep our listings up-to-date. With Rent Rover, you can easily discover new apartments and stay informed about the latest updates, making your search efficient and seamless.
    </p>
  </div>
 
    <div class="mission">
      <img src="https://i.imgur.com/Puxqyf9.png" alt="">
      <h1> Our mission</h1>
    <p>transform apartment-hunting into an enjoyable adventure. We're revolutionizing the search process by making it smarter and more efficient, eliminating frustration and stress. Our app simplifies your search, ensuring a delightful and streamlined experience to find your perfect apartment.
      
      </p>
    </div>
    
       <div class="committed">
        <img src="https://i.imgur.com/oo5IFgc.png" alt="">
        <h1>Our Commitment</h1>
      <p>At Rent Rover, we're more than just a platform – we're your trusted companion in finding the perfect home. We aim to simplify and elevate the apartment search process, making every renter's journey enjoyable, rewarding, and memorable.

      </p>
    </div>
  </div>
  </body>

    <%- include('./partials/footer') %>