<%- include('./partials/header') %>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><b> About US</h1> </b>
 
    <p> 
      Driven by our shared experiences, we embarked on a mission to simplify the apartment-hunting process. We wanted to create an app that not only streamlines your search but also makes it enjoyable. No more endless scrolling. No more guessing games. Just a smarter, more efficient way to find your perfect apartment.
    </p>
  </body>

    <%- include('./partials/footer') %>