* {
  box-sizing: border-box;
  font-family: Helvetica;
}
body {
  padding: 30px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: grey;
}

a {
  color: #00b7ff;
}
#new-form input[type='submit'] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

/* body {
  margin: 0;
  height: 100px;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: #b8c0c2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}
#new-form {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}
#box {
  display: flex;
  height: 50px;
  width: 40px;
} */

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}
