<%- include('../partials/header') %>
<form id ="new-form" action = "/appartments" method ="POST" enctype="multipart/form-data">
  <label>Image</label>
  <input type="file" name="image" id="image">
<label> Name</label> 
<input type ="text" name ="name">
<label>Furnished</label>
<select name="furnished">
  <option value="true">Yes</option>
  <option value="false">No</option>
</select>
<label>Rooms</label>
<select name="rooms">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
</select>
<label>View</label>
<select name="view">
  <option value="seaView">seaView</option>
  <option value="gardenView">gardenView</option>
  <option value="pentHouse">pentHouse</option>
  <option value ="normalView">normalView</option>
</select>
<label>Price</label>
<input type="number" name="price">



<label>Services</label>
<br>

<input type="checkbox" name="services[]" value="Internet"> Internet<br>
<input type="checkbox" name="services[]" value="Laundry facilities"> Laundry facilities<br>
<input type="checkbox" name="services[]" value="Air conditioning"> Air conditioning<br>
<input type="checkbox" name="services[]" value="Room Service"> Room Service<br>
<input type="checkbox" name="services[]" value="Gym"> Gym<br>
<input type="checkbox" name="services[]" value="Security"> Security<br>
<input type="checkbox" name="services[]" value="Online rent payment"> Online rent payment<br>
<br>

  
 
 
 
<label for="city">city</label>
<select name="city"> 
    <option value="Manama">Manama</option>
    <option value="Muharraq">Muharraq</option>
    <option value="Riffa">Riffa</option>
    <option value="Al Hidd">Al Hidd</option>
    <option value=" Hamad Town"> Hamad Town</option>
    <option value="Isa Town">Isa Town</option>
    <option value="Arad">Arad</option>
      <option value=" Malkiya">Malkiya</option>
      <option value=" Jidhafs">Jidhafs</option>
</select>


<label>Email</label>
<input type ="text" name="email">
<label>Parking</label>
<input type="checkbox" name="parking">
<input type="submit"   name="Add Appartment">
</form>

<%- include('../partials/footer') %>
